
<div class="image">
 		<!-- Insert image with Ruby -->
		 <%= image_tag("teatitle.jpg", class: "img-responsive teatitle") %>
              <span><h1>Notre passion c'est le té.<br>
              We offer you organic tea, full of flavour, <br> to provide you with the best tea experience <br>possible. Browse in the 'Buy MonTé' section <br> and let un inspire you.</h1></span>              
</div>