<div class="image">
 		<!-- Insert image with Ruby -->
		 <%= image_tag("teatitle.jpg", class: "img-responsive teatitle") %>
              <span><h1>Reach out to us anytime! <br>
              Simply write us an email: monté@teatime.org</h1></span>              
</div>
