
<div class="image">
 		<!-- Insert image with Ruby -->
		 <%= image_tag("teatitle.jpg", class: "img-responsive teatitle") %>
              <span><h1>Welcome to MonTé <br>
              Your source for the real tea experience</h1></span>              
</div>




