<div class="image">
		 <%= image_tag("teatitle.jpg", class: "img-responsive teatitle") %>
              <span><h1>Thank you for your order. <br> Enjoy your tea!</h1></span>  
            
		<%= link_to 'Buy more tea!', products_path %>
</div>