
<div class="image">
		 <%= image_tag("teatitle.jpg", class: "img-responsive teatitle") %>
              <span><h1>Thank you. <br> We have received your message and will respond as soon as possible.</h1></span>              
</div>

<%= link_to 'Back', static_pages_index_path %>