// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Start product index styling

#productlist{
	font-family: "Source Sans Pro", sans-serif;

}

#productlist h1{
	font-size: 2.5em;
	margin-left: 35px;
	margin-top: 80px;
}

#productlist p{
	font-size: 1em;
	margin-left: 35px;
}

#productpic{
	width: 350px;
}

// END product index styling

// START product show styling
.indvproduct{
	margin-top: 80px;
}
