// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Start product index styling

#productlist{
	font-family: "Source Sans Pro", sans-serif;

}

#productlist h1{
	font-size: 2.5em;
	margin-left: 35px;
	margin-top: 80px;
}

#productlist p{
	font-size: 1em;
	margin-left: 35px;
}

#productpic{
	width: 350px;
}

// END product index styling

// START product show styling

#showproductpic{
	width:600px; 
	margin-left: 20px;

}

.info {
	margin-top: 90px; 
}

.indvproduct{
	margin-top: 60px;
	padding-bottom: 30px;
}

.indvproduct h1{ 
   position: absolute; 
   top: 20px; 
   left: 0; 
   color: white; 
   font-family: "Source Sans Pro", sans-serif;   
   letter-spacing: -1px;  
   font-size: 3em;
   background: rgba(0, 0, 0, 0.7);
   padding-left: 5%;
}

.row p{
	font-family: "Source Sans Pro", sans-serif;   
   	letter-spacing: -1px; 
   	font-size: 1.5em;
   	margin-left: 20px;
   	margin-top: 10px;
}

.rated{
	padding-left:1.5em;
}

.product-reviews{
margin-left: 1.5em;
}

.rating{
	padding-left:2em;
}

.ratingsub{
	padding-left: 2.5em;
}

.stripe-button-el{
	margin-left: 20px;
}

// .pagination{
// 	margin-left: 2em;
// }

// .page_info{
// 	margin-left: 2em;
// }
// END product show styling

// START editing comments
.ratingsub{
	padding-left: 20px;
	padding-bottom: 30px;
}

.newreview{
	padding-left: 0px;
}

.userreview{
	margin-left: 0px; 
}

.pagination{
	padding-left: 20px; 
}

.digg_pagination{
	margin-left: 20px; 
}

hr{
border-top: 1px solid #333;
}

// END editing comments

.new_product{
	margin-top: 70px; 
}