// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// START styling devise> registration & session
#registernow{
	margin-top: 150px; 
	
}

#sidebarlolo { 
 
   position: absolute; 
   top: 50px; 
   left: 0; 
   color: white; 
   font-family: "Source Sans Pro", sans-serif;   
   letter-spacing: -1px;  
   font-size: 3em;
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
   padding-left: 5%;
}

// END styling devise> registration & session

// START styling users> index

