<% if signed_in? %>
<div class="row">
    <div class="newreview col-md-12">
      <strong><p>Add a review yourself:</p></strong>
    </div> <!-- end col -->
    
    <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
    <p>
        <%= f.label :body, "Comments" %>
        <br>
        <%= f.text_area :body %>
    </p>
    
    <p> 
      <div class="rating ratingsub col-md-12"></div>
    </p>
    <p>
       <%= f.submit "Submit" %>
    </p>
    <% end %>
    <% end %>
</div> <!-- end row -->

